.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: transparent;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: rgba(255, 255, 255, 0.9);
}